@{
  Layout = "_Layout";
}
<h1>Vendor List</h1>
@using VendorOrder.Models;

@if (@Model.Count == 0)
{
  <p>No vendors have been added to the system yet!</p>
}
<ul>
@foreach (Vendor vendor in Model)
{
  <li>@vendor.Name</li>
}
</ul>
<a href="/vendors/new"><button class="btn btn-primary">Add Vendor</button></a>