@{
  Layout = "_Layout";
}
<h1>Add New Vendor</h1>
<form action="/vendors" method="post">
  <label for="name">Name</label>
  <input type="text" id="name" name="name">
  <label for="description">Description</label>
  <input type="text" id="description" name="description">
  <button type="submit" class="btn btn-primary">Add Vendor</button>
</form>
<br>
<a href='/vendors/'><button class="btn btn-primary">View to Vendor List</button></a>